.body-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 99999;
}

.loading.in{
    display: flex;
}

.pageModal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.body-editor{
    display: none;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 42px 3fr 2fr;
}

.grid-container > div{
    overflow: auto;
}

.table-show, .header{
    grid-column-start: 1; 
    grid-column-end: 4;  
}